
  body{
    background: rgba(52, 58, 58, 0.116);
  }

  .tgame-info{
    display:inline-block;
    border: 12px rgb(143, 143, 240) outset;
    /* padding: 5%; */
    min-height: 100px;
    float:right;
    margin-right:5%; 
  }
  .tgame-board{
    display:inline-block;   
  }
  .tsquare {
    border: 6px #2f34352a outset;
    min-height: 40px;
    min-width: 40px;
    float:left;
    background: rgb(240, 204, 237);
 
  }
  ol, ul {
    padding-left: 25px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .tstatus {
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
    .tgame-info{
      display:inline-block;
      border: 12px rgb(143, 143, 240) outset;
      /* padding: 5%; */
      min-height: 100px;
      float:right;
      margin-right:5%; 
    }
    .tgame-board{
      display:inline-block;   
    }
    .tsquare {
      border: 6px #a6dbe2 outset;
      min-height: 40px;
      min-width: 40px;
      float:left;
      background: rgb(240, 204, 237);
   
    }
    ol, ul {
      padding-left: 25px;
    }
  
    .board-row:after {
      clear: both;
      content: "";
      display: table;
    }
}
@media only screen and (max-width: 1150px){
  .tgame-info{
    display:inline-block;
    border: 12px rgb(143, 143, 240) outset;
    /* padding: 5%; */
    min-height: 100px;
    float:right;
    margin-right:10%; 
    font-size: 30px;
  }
  .tgame-info button{
    font-size: 30px;
  }

  .tgame-board{
    display:inline-block;   
  }
  .tsquare {
    border: 6px #a6dbe2 outset;
    min-height: 100px;
    min-width: 100px;
    float:left;
    background: rgb(240, 204, 237);
    font-size: 30px;
 
  }
  ol, ul {
    padding-left: 35px;
    
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .tstatus {
    margin-bottom: 10px;
  }

}
@media only screen and (max-width: 2600px){
  body{
    background: #114357; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #114357, #f29492); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #114357, #f29492); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Bellefair', serif;
  }
  .tgame-info{
    display:inline-block;
    border: 12px #114357 outset;
    min-height: 100px;
    float:right;
    margin-right:1%; 
    margin-top: 5%;
    font-size: 60px;
  }
  .tgame-info button{
    font-size: 60px;
    background: #6d6027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6d6027, #d3cbb8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6d6027, #d3cbb8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .tgame-board{
    display:inline-block; 
    margin-top: 5%;  
  }
  .tsquare {
    border: 6px #a6dbe2 outset;
    min-height: 150px;
    min-width: 150px;
    float:left;
    background: #f3abaa;
    font-size: 60px;
    font-family: 'Merriweather', serif;
    
 
  }
  ol, ul {
    padding-left: 100px;
    
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .tstatus {
    margin-bottom: 10px;
  }
  .tgame h1{
    color: rgb(204, 201, 201);
    font-family: 'Bellefair', serif;
  }
}